<head>
  <title>Books</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/main.js"></script>
</head>
