<main class="main" role="main">
  <p>Choose your destiny:</p>
  <ul class="destination">
    <li><a class="btn" href="/app">The app</a></li>
    <li><a class="btn" href="/admin">Admin interface</a></li>
  </ul>
</main>
