html, body {
    height:100%;
}
body {
    display:flex;
    flex-direction:column;
}

header {
    flex-shrink:0;
    background: #ecf0f1;
}
header img {
    height:60px;
    margin: 0 auto;
    display: block;
}
header ul {
    background:#588f27;
    display:flex;
    justify-content:space-around;
}
header ul li {
    padding:10px 15px;
}
header ul li a {
    color:#fff;
    text-decoration:none;
}

.content {
    position:relative;
    flex-grow:1;
    width:100%;
    overflow:hidden;
}

.page {
    position:absolute;
    top:0;
    left:100%;
    right:0;
    bottom:0;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity:0;
    transition: all 300ms ease-out;  
}
.page.show {
    opacity:1;
    left:0;
    z-index:10;
}

h1, h2, h3, h4, p  {
    margin:0;
}

#add-event-btn {
    position:absolute;
    right:15px;
    bottom:15px;
    display:inline-block;
    background:#3399cc;
    color: #FFF;
    text-decoration:none;
}
.btn.secondary:hover {
    background:#45a6d9;
}

#add-event {
    
}
#add-event h1 {
    padding:20px 0;
}
#add-event .input-wrap {
    padding:10px;
}
.btn-wrap {
    display:flex;
    justify-content:space-around;
    background:#333;
    padding:1rem 0;
}
.btn-wrap .btn {
    width:120px;
    margin-bottom:0;
}

.add-file {
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
}
.add-file i {
    margin-right: 0.5rem;
}
.add-file input {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity:0;
    display:block;
    width:100%;
    flex-grow:1;
}