html, body {
    height:100%;
}
body {
    display:flex;
    flex-direction:column;
}

header {
    flex-shrink:0;
    background: #ecf0f1;
}
header img {
    height:60px;
    margin: 0 auto;
    display: block;
}
header ul {
    background:#588f27;
    display:flex;
    justify-content:space-around;
}
header ul li {
    padding:10px 15px;
}
header ul li a {
    color:#fff;
}

header + div {
    flex-grow:1;
}

h1, h2, h3, h4, p  {
    margin:0;
}

.btn {
    width:120px;
    margin-bottom:0;
}

#add-event {
    text-align:center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#add-event .input-wrap {
    padding:10px;
}
.btn-wrap {
    display:flex;
    justify-content:space-around;
    background:#333;
    padding:1rem 0;
}
.btn-wrap .btn:first-child {
    
}
.btn-wrap .btn:last-child {
}