.index {
  max-width: 40rem;
  margin: 0 auto;
}

.index .header {
  text-align: center;
}

.index img {
  max-width: 20rem;
}

.index h2 {
  text-align: center;
}

.index .destination {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
}

.index .destination a {
  display: block;
}

.index .destination a:first-child {
  margin-right: .5rem;
}
