﻿<form method="post" action="/travel-events" id="add-event" class="page" data-page="add-event"
enctype="multipart/form-data">
	<h1>Add event</h1>
	<div class="input-wrap">
		<input class="title" type="text" value="Toledo" />
		<input class="timestamp" type="text" value="18:00" />
		<input class="text" type="text" value="" placeholder="What" />

		<div class="btn secondary add-file">
			<i class="fa fa-camera-retro fa-2x"></i>
			Upload photo
			<input class="photo-input" type="file" value="" />
		</div>

	</div>

	<div class="btn-wrap">
		<a href="#events" class="btn cancel">Cancel</a>
    <div class="btn confirm">
      <button id='publish' type="submit">Publish</button>
    </div>
	</div>
</form>
