<div id="add-event">
	<h2>Add event</h2>
	<div class="input-wrap">
		<input type="text" value="Toledo" />
		<input type="text" value="18:00" />
		<input type="text" value="" placeholder="What" />
		<input class="btn" type="file" value="" placeholder="Photo" />
	</div>

	<div class="btn-wrap">
		<div class="btn cancel">Cancel</div>
		<div class="btn confirm">Publish</div>
	</div>
</div>
