﻿<form method="post" action="/travel-events" id="add-event" class="page" data-page="add-event" 
enctype="multipart/form-data">
	<h1>Add event</h1>
	<div class="input-wrap">
		<input type="text" value="Toledo" />
		<input type="text" value="18:00" />
		<input type="text" value="" placeholder="What" />

		<div class="btn secondary add-file">
			<i class="fa fa-camera-retro fa-2x"></i>
			Upload photo
			<input type="file" value="" />
		</div>

	</div>

	<div class="btn-wrap">
		<div class="btn cancel">Cancel</div>
		<input class="btn confirm" type="submit" value="Publish" />
	</div>
</form>
