﻿<div class="event-list page" data-page="events">

	<h1>Event list</h1>	
	
	<a id="add-event-btn" href="#add-event">
		<i class="fa fa-plus-circle fa-3x"></i>
	</a>

	﻿<ul>
		<li>			
			<article>
				<img class="user-icon" src=="" />
				<div>
					<h3>Test titel</h3>
					<p>Test user</p>
					<p class="time">Time</p>
				</div>				
			</article>			
		</li>
		<% events.forEach(function (event) { %>
			
		<% }); %>
	</ul>
</div>