<div class="event-list page" data-page="events">

	<h1>Event list</h1>

	<a id="add-event-btn" href="#add-event">
		<i class="fa fa-plus-circle fa-3x"></i>
	</a>

	<ul id='event-list'>
      <% events.forEach(function (event) { %>
		<li>
      <img class="photo" src="<%= event.photo %>">
			<article>
				<img class="user-icon" src="https://randomuser.me/api/portraits/thumb/men/4.jpg" />

				<div>
					<h3><%= event.title %></h3>
					<p><%= event.text %></p>
					<p class="time"><%= event.timestamp %></p>
				</div>
			</article>
		</li>
      <% }); %>

	</ul>
</div>
