<header>

  <img src="/images/logo.png" alt="" />
  <ul>
    <li>
      <a href="#events">Events</a>
    </li>
    <li>
      <a href="#map">Map</a>
    </li>
    <li>
      <a href="#information">Information</a>
    </li>
  </ul>
</header>