<main class="main" role="main">
  <h2>Pick a destination</h2>
  <div class="destination">
    <a class="btn" href="/app">The app</a>
    <a class="btn" href="/admin">Admin interface</a>
  </div>
</main>
