<main class="main" role="main">
  <p>Choose your destiny:</p>
  <div class="destination">
    <a class="btn" href="/app">The app</a>
    <a class="btn" href="/admin">Admin interface</a>
  </div>
</main>
