<html lang="en">

  <% include ../partials/head %>

  <body class="admin">

    <% include ../partials/admin/header %>
    <% include ../partials/admin/main %>

    <script src="/js/admin.js"></script>

  </body>
</html>
