<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  
  <link rel="stylesheet" href="/css/app.css">
  <script src="/js/app.js"></script>

  <body class="app">
	
    <% include ../partials/app/header %>
	
	<div class="content">
		<% include ../partials/app/event_list %>
		<% include ../partials/app/add_event %>
	</div>
  </body>

</html>
