<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  
  <link rel="stylesheet" href="/css/app.css">

  <body class="app">

    <% include ../partials/app/header %>
    <% include ../partials/app/event_list %>
    <% include ../partials/app/add_event %>

  </body>

</html>
