<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
=======
<script src="/js/jquery.js"></script>
>>>>>>> Started socket.io
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<% include ../partials/app/header %>

  <% include ../partials/head %>

  <body class="app">

    <% include ../partials/app/header %>
    <% include ../partials/app/event_list %>
    <% include ../partials/app/add_event %>

  </body>

</html>
