<html lang="en">

  <% include ../partials/head %>

  <body class="admin">

    <% include ../partials/trip/header %>
    <% include ../partials/trip/main %>

    <script src="/js/trip.js"></script>

  </body>

</html>
