<main class="main" role="main">

  <form class="select-company">

    <select>
      <option disabled selected>Select a company</option>
      <% companies.forEach(function (company) { %>
      <option value="<%= company.companyName %>"><%= company.companyName %></option>
      <% }); %>
    </select>

  </form>

</main>
