<main class="main" role="main">

  <!-- Company -->
  <form>

    <select>
      <option disabled selected>Select a company</option>
      <% companies.forEach(function (company) { %>
      <option value="<%= company.id %>"><%= company.name %></option>
      <% }); %>
    </select>

  </form>

</main>
