<main class="main" role="main">

  <div class="select-company">
    <select>
      <option disabled selected>Select a company</option>
      <% companies.forEach(function (company) { %>
      <option value="<%= company.companyName %>"><%= company.companyName %></option>
      <% }); %>
    </select>
  </div>

  <div class="travel-list">
    <ul></ul>
    <button class="btn" disabled>Add trip</button>
  </div>

</main>

<div class="overlay">
  <form class="overlay-inner">
    <label>
      <h4>Add trip</h4>
      <input class="trip-name" type="text" placeholder="Name" required>
    </label>
    <button type="submit" class="btn">Create trip</button>
  </form>
</div>
